<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netPeerTcpBinding>
                <binding name="Wimpy">
                  <resolver mode="Pnrp" />
                  <security mode="None">
                    <transport credentialType="Password"/>
                  </security>
                </binding>
            </netPeerTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.p2p://Chat" binding="netPeerTcpBinding"
                bindingConfiguration="Wimpy" contract="ChatUIBackend.IChatBackend"
                name="ChatEndpoint" kind="" endpointConfiguration="">
                <identity>
                    <certificateReference storeName="My" storeLocation="LocalMachine"
                        x509FindType="FindBySubjectDistinguishedName" />
                  <dns value="localhost"/>
                </identity>
            </endpoint>
        </client>
        <services>
            <service name="ChatUIBackend.ChatBackend">
                <endpoint address="net.p2p://Chat" binding="netPeerTcpBinding"
                    bindingConfiguration="Wimpy" name="Chat" contract="ChatUIBackend.IChatBackend"/>
            </service>
        </services>
    </system.serviceModel>
</configuration>